<form [formGroup]="form">
  <nb-card class="form-cont">
    <nb-card-body>
      <div class="row">
        <div class="col-md-8 col-lg-8">
          <mat-form-field appearance="fill" class="form-a">
            <label class="title">{{ t.fa.last14daysSymptom | translate }}</label>
            <input matInput formControlName="sixWeekRefDate" autocomplete="off">
          </mat-form-field>
        </div>

        <div class="col-md-4 col-lg-4">
          <div class="form-a">
            <label class="title">{{ t.fa.travelledToInfected | translate }}</label>
            <nb-radio-group formControlName="rbContactWithCovidHotspot" id="inputCaseStatus" name="travelled-to-infected" class="row">
              <nb-radio value="Yes">{{ t.fab.chha | translate }}</nb-radio>
              <nb-radio value="No">{{ t.fab.chhaina | translate }}</nb-radio>
              <nb-radio value="Do not know">{{ t.fab.thahaChhaina | translate }}</nb-radio>
          </nb-radio-group>
          </div>
        </div>

        <div class="col-md-4 col-lg-4">
          <div class="form-a">
            <label class="title">{{ t.fa.ifYes | translate }}</label>
            <nb-radio-group formControlName="rbIfYesLocalOrAbroad" id="inputCaseStatus" name="travelled-to-inf-abroad" class="row">
              <nb-radio value="Local">{{ t.fa.insideCountry | translate }}</nb-radio>
              <nb-radio value="Abroad">{{ t.fa.outsideCountry | translate }}</nb-radio>
          </nb-radio-group>
          </div>
        </div>

        <div class="col-md-4 col-lg-4">
          <mat-form-field appearance="fill" class="form-a">
            <label class="title">{{ t.fa.name | translate }}</label>
            <input matInput formControlName="ifYesName" autocomplete="off">
          </mat-form-field>
        </div>

        <div class="col-md-4 col-lg-4">
          <mat-form-field appearance="fill" class="form-a">
            <label class="title"> {{ t.fa.relative | translate }} </label>
            <input matInput formControlName="ifYesRelation" placeholder="दिन/महिना/वर्ष">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-lg-4">
          <mat-form-field appearance="fill" class="form-a">
            <label class="title">{{ t.fa.hospitalization | translate }}</label>
            <input matInput formControlName="ifYesHospitalizationDate" autocomplete="off">
          </mat-form-field>
        </div>

        <div class="col-md-4 col-lg-4">
          <mat-form-field appearance="fill" class="form-a">
            <label class="title"> {{ t.fa.visitedPlaceCountry | translate }} </label>
            <input matInput formControlName="hotspotCountryName" placeholder="दिन/महिना/वर्ष">
          </mat-form-field>
        </div>

      </div>

      <div class="row">
        <div class="col-md-4 col-lg-4">
          <div class="form-a">
            <label class="title">{{ t.fa.festivities | translate }}</label>
            <nb-radio-group formControlName="rbCaseInCrowdedPlace" id="inputCaseStatus" name="parttook-on-festivities" class="row">
              <nb-radio value="Yes">{{ t.fab.chha | translate }}</nb-radio>
              <nb-radio value="No">{{ t.fab.chhaina | translate }}</nb-radio>
              <nb-radio value="Do not know">{{ t.fab.thahaChhaina | translate }}</nb-radio>
          </nb-radio-group>
          </div>
        </div>

        <div class="col-md-4 col-lg-4">
          <mat-form-field appearance="fill" class="form-a">
            <label class="title">{{ t.fa.ifYesWhen | translate }}</label>
            <input matInput formControlName="ifYesWhereAndWhen" autocomplete="off">
          </mat-form-field>
        </div>

        <div class="col-md-4 col-lg-4">
          <div class="form-a">
            <label class="title">{{ t.fa.beenInContact | translate }}</label>
            <nb-radio-group formControlName="rbCaseInContactWithTheSick" id="inputCaseStatus" name="in-contact" class="row">
              <nb-radio value="Yes">{{ t.fab.ho | translate }}</nb-radio>
              <nb-radio value="No">{{ t.fab.hoina | translate }}</nb-radio>
              <nb-radio value="Do not know">{{ t.fab.thahaChhaina | translate }}</nb-radio>
          </nb-radio-group>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-lg-4">
          <mat-form-field appearance="fill" class="form-a">
            <label class="title">{{ t.fa.personName | translate }}</label>
            <input matInput formControlName="ifYesWhereAndWhen" autocomplete="off">
          </mat-form-field>
        </div>

        <div class="col-md-4 col-lg-4">
          <div class="form-a">
            <label class="title">{{ t.fa.recoveryOrgHospitalAdmitted | translate }}</label>
            <nb-radio-group formControlName="rbHasCaseGoneAnywhere" id="inputCaseStatus" name="recoveryOrgHospitalAdmitted" class="row">
              <nb-radio value="Yes">{{ t.fab.chha | translate }}</nb-radio>
              <nb-radio value="No">{{ t.fab.chhaina | translate }}</nb-radio>
              <nb-radio value="Do not know">{{ t.fab.thahaChhaina | translate }}</nb-radio>
          </nb-radio-group>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-4 col-lg-4">
          <mat-form-field appearance="fill" class="form-a">
            <label class="title">{{ t.fa.personName | translate }}</label>
            <input matInput formControlName="ifYesWithWhomWhereAndWhen" autocomplete="off">

          </mat-form-field>
        </div>

        <div class="col-md-4 col-lg-4">
          <mat-form-field appearance="fill" class="form-a">
            <label class="title"> {{ t.fa.origin | translate }} </label>
            <textarea matInput formControlName="additionalInfo"></textarea>
          </mat-form-field>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</form>
