
<form [formGroup]="form">
  <nb-card class="form-cont">
    <nb-card-body>
      <nb-card>
      <div class="row">

        <div class="col-md-4 col-lg-4">
          <div class="form-a">
            <label class="title">{{ t.fa.nasopharyngeal | translate }}</label>
            <nb-radio-group formControlName="rbNasopharyngeal" id="inputCaseStatus" name="Nasopharyngeal" class="row">
              <nb-radio>{{ t.fab.chha | translate }}</nb-radio>
              <nb-radio>{{ t.fab.chhaina | translate }}</nb-radio>
          </nb-radio-group>
          </div>
        </div>

        <div class="col-md-4 col-lg-4">
          <mat-form-field appearance="fill" class="form-a">
            <label class="title">{{ t.fa.sampleCollectionDate | translate }}</label>
            <input matInput formControlName="sampleCollectionDate" autocomplete="off">
            <!-- <mat-hint>E.g. Lalit:324234</mat-hint> -->
          </mat-form-field>
        </div>

        <div class="col-md-4 col-lg-4">
          <mat-form-field appearance="fill" class="form-a">
            <label class="title"> {{ t.fa.sampleSendDate | translate }} </label>
            <input matInput formControlName="sampleDispatchDate" placeholder="दिन/महिना/वर्ष">
          </mat-form-field>
        </div>
      </div>



      <div class="row">
        <div class="col-md-12">
          <nb-card>
            <nb-card-header>यदि नमुना जाँचको नतिजा थाहा भयो भने</nb-card-header>
            <nb-card-body>
              <div class="row">
                <div class="col-md-3 col-lg-3">
                  <mat-form-field appearance="fill" class="form-a">
                    <label class="title">{{ t.fa.resultsDate | translate }}</label>
                    <input matInput formControlName="labTestResultDate" autocomplete="off">
                  </mat-form-field>
                </div>
                <div class="col-md-3 col-lg-3">
                  <mat-form-field appearance="fill" class="form-a">
                    <label class="title"> {{ t.fa.results | translate }} </label>
                    <input matInput formControlName="labTestResult" placeholder="दिन/महिना/वर्ष">
                  </mat-form-field>
                </div>
              </div>
            </nb-card-body>
          </nb-card>
        </div>

      </div>
    </nb-card>
    <nb-card>

      <div class="row">

        <div class="col-md-4 col-lg-4">
          <div class="form-a">
            <label class="title">{{ t.fa.oropharyngeal | translate }}</label>
            <nb-radio-group formControlName="rbOropharyngeal" id="inputCaseStatus" name="Oropharyngeal" class="row">
              <nb-radio>{{ t.fab.chha | translate }}</nb-radio>
              <nb-radio>{{ t.fab.chhaina | translate }}</nb-radio>
          </nb-radio-group>
          </div>
        </div>

        <div class="col-md-4 col-lg-4">
          <mat-form-field appearance="fill" class="form-a">
            <label class="title">{{ t.fa.sampleCollectionDate | translate }}</label>
            <input matInput formControlName="oropharyngealSampleCollectionDate" autocomplete="off">
            <!-- <mat-hint>E.g. Lalit:324234</mat-hint> -->
          </mat-form-field>
        </div>

        <div class="col-md-4 col-lg-4">
          <mat-form-field appearance="fill" class="form-a">
            <label class="title"> {{ t.fa.sampleSendDate | translate }} </label>
            <input matInput formControlName="oropharyngealSampleDispatchDate" placeholder="दिन/महिना/वर्ष">
          </mat-form-field>
        </div>
      </div>



      <div class="row">

        <div class="col-md-4 col-lg-4">
          <mat-form-field appearance="fill" class="form-a">
            <label class="title">{{ t.fa.resultsDate | translate }}</label>
            <input matInput formControlName="oropharyngealLabTestResultDate" autocomplete="off">
          </mat-form-field>
        </div>





        <div class="col-md-4 col-lg-4">
          <mat-form-field appearance="fill" class="form-a">
            <label class="title"> {{ t.fa.results | translate }} </label>
            <input matInput formControlName="oropharyngealLabTestResult" placeholder="दिन/महिना/वर्ष">
          </mat-form-field>
        </div>

      </div>
    </nb-card>
    <nb-card>

      <div class="row">

        <div class="col-md-4 col-lg-4">
          <div class="form-a">
            <label class="title">{{ t.fa.others | translate }}</label>
            <nb-radio-group formControlName="rbOther" id="inputCaseStatus" name="lab-others" class="row">
              <nb-radio>{{ t.fab.chha | translate }}</nb-radio>
              <nb-radio>{{ t.fab.chhaina | translate }}</nb-radio>
          </nb-radio-group>
          </div>
        </div>

        <div class="col-md-4 col-lg-4">
          <mat-form-field appearance="fill" class="form-a">
            <label class="title">{{ t.fa.sampleCollectionDate | translate }}</label>
            <input matInput formControlName="otherSampleCollectionDate" autocomplete="off">
            <!-- <mat-hint>E.g. Lalit:324234</mat-hint> -->
          </mat-form-field>
        </div>

        <div class="col-md-4 col-lg-4">
          <mat-form-field appearance="fill" class="form-a">
            <label class="title"> {{ t.fa.sampleSendDate | translate }} </label>
            <input matInput formControlName="otherSampleDispatchDate" placeholder="दिन/महिना/वर्ष">
          </mat-form-field>
        </div>
      </div>



      <div class="row">

        <div class="col-md-4 col-lg-4">
          <mat-form-field appearance="fill" class="form-a">
            <label class="title">{{ t.fa.resultsDate | translate }}</label>
            <input matInput formControlName="otherLabTestResultDate" autocomplete="off">
          </mat-form-field>
        </div>





        <div class="col-md-4 col-lg-4">
          <mat-form-field appearance="fill" class="form-a">
            <label class="title"> {{ t.fa.results | translate }} </label>
            <input matInput formControlName="otherLabTestResult" placeholder="दिन/महिना/वर्ष">
          </mat-form-field>
        </div>

        <div class="col-md-4 col-lg-4">
          <mat-form-field appearance="fill" class="form-a">
            <label class="title"> {{ t.fa.others2 | translate }} </label>
            <input matInput formControlName="otherTestSpecification" placeholder="दिन/महिना/वर्ष">
          </mat-form-field>
        </div>


      </div>
    </nb-card>
<nb-card>

      <div class="row">
        <div class="col-md-6 col-lg-6">
          <div class="form-a">
            <label class="title">{{ t.fa.sampleSentLocation | translate }}</label>
            <nb-radio-group formControlName="rbLabType" id="inputCaseStatus" name="lab-category" class="row">
              <nb-radio>NPHL</nb-radio>
              <nb-radio>Non-NPHL</nb-radio>
          </nb-radio-group>
          </div>
        </div>

        <div class="col-md-6 col-lg-6">
          <div class="form-a">
            <label class="title">If Non-NPHL, specify</label>
            <input matInput formControlName="nonNPHLSpecs" autocomplete="off">
          </div>
        </div>
      </div>

      <div class="row">
         <div class="col-md-6 col-lg-6">
          <div class="form-a">
            <label class="title">{{ t.fa.lab | translate }}</label>
            <nb-radio-group formControlName="rbAnyOtherTestLab" id="inputCaseStatus" name="other-lab" class="row">
              <nb-radio>{{ t.fab.chha | translate }}</nb-radio>
              <nb-radio>{{ t.fab.chhaina | translate }}</nb-radio>
          </nb-radio-group>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-6">
          <mat-form-field appearance="fill" class="form-a">
            <label class="title"> {{ t.fa.testName | translate }} </label>
            <input matInput formControlName="ifYesTestName" placeholder="दिन/महिना/वर्ष">
          </mat-form-field>
        </div>

        <div class="col-md-6 col-lg-6">
          <mat-form-field appearance="fill" class="form-a">
            <label class="title"> {{ t.fa.results2 | translate }} </label>
            <input matInput formControlName="ifYesTestResult" placeholder="दिन/महिना/वर्ष">
          </mat-form-field>
        </div>



      </div>
    </nb-card>






    </nb-card-body>
  </nb-card>
</form>



