<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header class="form-title"> {{ t.fb.formName | translate }}</nb-card-header>
      <nb-card-body class="no-pad">
        <form [formGroup]="form">
          <p>caseko naam {{ form.caseName }}</p>
          <p>caseko Id {{ form.caseId }}</p>

          <nb-accordion [multi]="true" class="no-pad">
            <nb-accordion-item [expanded]="true">
              <nb-accordion-item-header> {{ t.fb.casePersonalInformation | translate }} </nb-accordion-item-header>
              <nb-accordion-item-body>
                <!-- <cov-form-a-step-o></cov-form-a-step-o> -->
              </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>

          <nb-accordion [multi]="true" class="no-pad">
            <nb-accordion-item [expanded]="true">
              <nb-accordion-item-header> {{ t.fb.notInPerson | translate }} </nb-accordion-item-header>
              <nb-accordion-item-body>
                <!-- <cov-form-a-step-o></cov-form-a-step-o> -->
              </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>

          <nb-accordion [multi]="true" class="no-pad">
            <nb-accordion-item [expanded]="true">
              <nb-accordion-item-header> {{ t.fb.exposure | translate }} </nb-accordion-item-header>
              <nb-accordion-item-body>
                <!-- <cov-form-a-step-o></cov-form-a-step-o> -->
              </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>

          <nb-accordion [multi]="true" class="no-pad">
            <nb-accordion-item [expanded]="true">
              <nb-accordion-item-header> {{ t.fb.exposedHeathWorkerInfo | translate }} </nb-accordion-item-header>
              <nb-accordion-item-body>
                <!-- <cov-form-a-step-o></cov-form-a-step-o> -->
              </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>

          <nb-accordion [multi]="true" class="no-pad">
            <nb-accordion-item [expanded]="true">
              <nb-accordion-item-header> {{ t.fb.exposedNonHealthInfo | translate }} </nb-accordion-item-header>
              <nb-accordion-item-body>
                <!-- <cov-form-a-step-o></cov-form-a-step-o> -->
              </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>

          <nb-accordion [multi]="true" class="no-pad">
            <nb-accordion-item [expanded]="true">
              <nb-accordion-item-header> {{ t.fb.clinicalInformation | translate }} </nb-accordion-item-header>
              <nb-accordion-item-body>
                <!-- <cov-form-a-step-o></cov-form-a-step-o> -->
              </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>

          <nb-accordion [multi]="true" class="no-pad">
            <nb-accordion-item [expanded]="true">
              <nb-accordion-item-header> {{ t.fb.actionForContact | translate }} </nb-accordion-item-header>
              <nb-accordion-item-body>
                <!-- <cov-form-a-step-o></cov-form-a-step-o> -->
              </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>

          <nb-accordion [multi]="true" class="no-pad">
            <nb-accordion-item [expanded]="true">
              <nb-accordion-item-header> {{ t.fb.contactTestState | translate }} </nb-accordion-item-header>
              <nb-accordion-item-body>
                <!-- <cov-form-a-step-o></cov-form-a-step-o> -->
              </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>

          <nb-accordion [multi]="true" class="no-pad">
            <nb-accordion-item [expanded]="true">
              <nb-accordion-item-header> {{ t.fb.followUpInfo | translate }} </nb-accordion-item-header>
              <nb-accordion-item-body>
                <!-- <cov-form-a-step-o></cov-form-a-step-o> -->
              </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>

          <nb-accordion [multi]="true" class="no-pad">
            <nb-accordion-item [expanded]="true">
              <nb-accordion-item-header> {{ t.fb.statCollecterInfo | translate }} </nb-accordion-item-header>
              <nb-accordion-item-body>
                <!-- <cov-form-a-step-o></cov-form-a-step-o> -->
              </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
