<nb-card class="form-cont">
  <nb-card-body>

    <div class="col-md-12">
      <div class="form-group">
        <label for="" class="label" style="color:black">{{ t.fa.gharDhuri | translate }} </label>
      </div>
      <div class="form-group">
          <mat-label> {{ t.fa.anyoneElseInCaseHouse | translate }} </mat-label>
        <div class="col-sm-6">
          <nb-radio-group id="inputCaseStatus" name="anyone-else-home" class="row">
            <nb-radio>{{ t.fab.chha | translate }}</nb-radio>
            <nb-radio>{{ t.fab.chhaina | translate }}</nb-radio>
            <nb-radio>{{ t.fab.thahaChhaina | translate }}</nb-radio>
          </nb-radio-group>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <mat-label>
          {{ t.fa.anyoneInHouseInServiceOfCase | translate }} </mat-label>
        <div class="col-sm-6">
          <nb-radio-group id="inputCaseStatus" name="any-familymember-involved" class="row">
            <nb-radio>{{ t.fab.chha | translate }}</nb-radio>
            <nb-radio>{{ t.fab.chhaina | translate }}</nb-radio>
            <nb-radio>{{ t.fab.thahaChhaina | translate }}</nb-radio>

          </nb-radio-group>
        </div>
      </div>
    </div>




    <div class="col-md-12">
      <div class="form-group">
        <mat-label>{{ t.fa.ifYesInform | translate }}</mat-label>
        <input type="text" nbInput placeholder="">
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <mat-label>{{ t.fa.orgName | translate }} </mat-label>
      </div>
      <div class="form-group">
        <mat-label> {{ t.fa.healthWorkerServeCase | translate }} </mat-label>
        <div class="col-sm-6">
          <nb-radio-group id="inputCaseStatus" name="any-professional-involved" class="row">
            <nb-radio>{{ t.fab.chha | translate }}</nb-radio>
            <nb-radio>{{ t.fab.chhaina | translate }}</nb-radio>
            <nb-radio>{{ t.fab.thahaChhaina | translate }}</nb-radio>

          </nb-radio-group>
        </div>
      </div>
    </div>



    <div class="col-md-12">
      <div class="form-group">
        <mat-label>{{ t.fa.ifYesInform2 | translate }}</mat-label>
        <input type="text" nbInput placeholder="">
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <mat-label> {{ t.fa.transport | translate}} </mat-label>
      </div>
      <div class="form-group">
        <mat-label>
          {{ t.fa.caseInPublicTransport | translate }}</mat-label>
        <div class="col-sm-6">
          <nb-radio-group id="inputCaseStatus" name="case-in-public-transport" class="row">
            <nb-radio>{{ t.fab.chha | translate }}</nb-radio>
            <nb-radio>{{ t.fab.chhaina | translate }}</nb-radio>
            <nb-radio>{{ t.fab.thahaChhaina | translate }}</nb-radio>

          </nb-radio-group>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <mat-label>यभद छ भने,केमा यािा गरेको िोीः</mat-label>
        <div class="col-sm-6">
          <nb-radio-group id="inputCaseStatus" name="which-public-transport" class="row">
            <nb-radio>प्लेन</nb-radio>
            <nb-radio>याक्सी</nb-radio>
            <nb-radio>बस/ माइक्रो</nb-radio>
            <nb-radio>िक</nb-radio>
            <nb-radio>अन्य</nb-radio>

          </nb-radio-group>
        </div>
      </div>
    </div>


    <div class="col-md-12">
      <div class="form-group">
        <mat-label> {{ t.fa.travelDate | translate }} </mat-label>
        <input [nbDatepicker]="datepicker">
        <nb-datepicker #datepicker></nb-datepicker> <br />
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <mat-label> {{ t.fa.vehicleType | translate }}</mat-label>
        <input type="text" nbInput placeholder="">
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <mat-label> {{ t.fa.re | translate }}</mat-label>
        <input type="text" nbInput placeholder="">
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <mat-label> {{ t.fa.vehicleNumber | translate }}</mat-label>
        <input type="text" nbInput placeholder="">
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <mat-label> {{ t.fa.someNumber1 | translate }}</mat-label>
        <input type="text" nbInput placeholder="">
      </div>
    </div>


    <div class="col-md-12">
      <div class="form-group">
        <mat-label> {{ t.fa.someNumber2 | translate }}</mat-label>
        <input type="text" nbInput placeholder="">
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <mat-label> {{ t.fa.someDepartureLocation | translate }}</mat-label>
        <input type="text" nbInput placeholder="">
      </div>
    </div>


    <div class="col-md-12">
      <div class="form-group">
        <mat-label> {{ t.fa.someNumber3 | translate }}</mat-label>
        <input type="text" nbInput placeholder="">
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <mat-label> {{ t.fa.someNumber4 | translate }}</mat-label>
        <input type="text" nbInput placeholder="">
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <mat-label> {{ t.fa.someStartLocation | translate }}</mat-label>
        <input type="text" nbInput placeholder="">
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <mat-label> {{ t.fa.destination | translate }}</mat-label>
        <input type="text" nbInput placeholder="">
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <mat-label> {{ t.fa.someMedium | translate }}</mat-label>
      </div>
    </div>


    <div class="col-md-12">
      <div class="form-group">
        <mat-label> {{ t.fa.officeOrClassroom | translate }}</mat-label>

      </div>
      <div class="form-group">
        <mat-label>
          के के स भवद्यालय/ कायाषलय गएको छ?</mat-label>
        <div class="col-sm-6">
          <nb-radio-group id="inputCaseStatus" name="visit-school-or-work" class="row">
            <nb-radio>{{ t.fab.chha | translate }}</nb-radio>
            <nb-radio>{{ t.fab.chhaina | translate }}</nb-radio>
            <nb-radio>{{ t.fab.thahaChhaina | translate }}</nb-radio>

          </nb-radio-group>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <mat-label> {{ t.fa.officeName | translate }}</mat-label>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <mat-label>  {{ t.fa.address | translate }}</mat-label>
        <input type="text" nbInput placeholder="">
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <mat-label> {{ t.fa.phoneNumber | translate }}</mat-label>
        <input type="text" nbInput placeholder="">
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <mat-label> {{ t.fa.supervisor | translate }}</mat-label>
        <input type="text" nbInput placeholder="">
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <mat-label> {{ t.fa.contact | translate }}</mat-label>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <mat-label> {{ t.fa.someClosedEnv | translate }}</mat-label>

      </div>
      <div class="form-group">
        <mat-label>
          के के सले कसैसाँग अन्य बन्द वातावरणिरुमा (क्वारानिाइन, िोिल/
          रेिुरेन्ट नभजकको सम्पकष मा कोिी आएका छ?</mat-label>
        <div class="col-sm-6">
          <nb-radio-group id="inputCaseStatus" name="in-close-proximity-enclosed-space" class="row">
            <nb-radio>{{ t.fab.chha | translate }}</nb-radio>
            <nb-radio>{{ t.fab.chhaina | translate }}</nb-radio>
            <nb-radio>{{ t.fab.thahaChhaina | translate }}</nb-radio>

          </nb-radio-group>
        </div>
      </div>
    </div>



    <div class="col-md-12">
      <div class="form-group">
        <mat-label> {{ t.fa.someContact1 | translate }}</mat-label>
        <input type="text" nbInput placeholder="">
      </div>
    </div>


    <div class="col-md-12">
      <div class="form-group">
        <mat-label> {{ t.fa.someContact2 | translate }}</mat-label>

      </div>
      <div class="form-group">
        <mat-label>
          {{ t.fa.someContact2 | translate }}</mat-label>
        <div class="col-sm-6">
          <nb-radio-group id="inputCaseStatus" name="social-contact" class="row">
            <nb-radio>{{ t.fab.chha | translate }}</nb-radio>
            <nb-radio>{{ t.fab.chhaina | translate }}</nb-radio>
            <nb-radio>{{ t.fab.thahaChhaina | translate }}</nb-radio>

          </nb-radio-group>
        </div>
      </div>
    </div>



    <div class="col-md-12">
      <div class="form-group">
        <mat-label> {{ t.fa.someContact3 | translate }}</mat-label>
        <input type="text" nbInput placeholder="">
      </div>
    </div>


    <div class="col-md-12">
      <div class="form-group">
        <mat-label> {{ t.fa.someContact4 | translate }}</mat-label>

      </div>
      <div class="form-group">
        <mat-label>
          के के स कु नै सामाभजक कायषक्रम/भोज/ हुलमुल/ धामीकसेवािरुमा समावेश हुन गएको छ ?</mat-label>
        <div class="col-sm-6">
          <nb-radio-group id="inputCaseStatus" name="case-in-party" class="row">
            <nb-radio>{{ t.fab.chha | translate }}</nb-radio>
            <nb-radio>{{ t.fab.chhaina | translate }}</nb-radio>
            <nb-radio>{{ t.fab.thahaChhaina | translate }}</nb-radio>

          </nb-radio-group>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <mat-label> यभद छ भने, सामाभजक कायषक्रम/ संयोजकको नामिरु उल्लेि
          गनुषिोस्</mat-label>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <mat-label> {{ t.fa.address | translate }}</mat-label>
        <input type="text" nbInput placeholder="">
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <mat-label> {{ t.fa.phone | translate }}</mat-label>
        <input type="text" nbInput placeholder="">
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <mat-label> {{ t.fa.someProgram | translate }}</mat-label>
        <input type="text" nbInput placeholder="">
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <mat-label> {{ t.fa.someContact6 | translate }}</mat-label>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <mat-label> {{ t.fa.someContact7 | translate }}</mat-label>
        <input type="text" nbInput placeholder="">
      </div>
    </div>


    <div class="col-md-12">
      <div class="form-group">
        <mat-label>
          भाग छ मा एक वा धेरै कन्टयाक्टिरु पत्ता लागेका छन् भक छैनन् ?</mat-label>
        <div class="col-sm-6">
          <nb-radio-group id="inputCaseStatus" name="one-or-more-contact" class="row">
            <nb-radio>{{ t.fab.chha | translate }}</nb-radio>
            <nb-radio>{{ t.fab.chhaina | translate }}</nb-radio>


          </nb-radio-group>
        </div>
      </div>
    </div>
</nb-card-body>
</nb-card>
