<form [formGroup]="form">
  <nb-card class="form-cont">
    <nb-card-body>
      <div class="row">
        <div class="col-md-6 col-lg-6">
          <div class="form-group">
            <label class="title">{{ t.fa.recentSymptoms | translate }}</label>
            <nb-radio-group id="f1-2-rg-recentsymptom" class="row" formControlName="symptomatic">
              <nb-radio value="Yes">{{ t.fab.chha | translate }}</nb-radio>
              <nb-radio value="No">{{ t.fab.chhaina | translate }}</nb-radio>
          </nb-radio-group>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-6">
          <div class="form-group">
            <label class="title">{{ t.fa.lastFourWeeksSymptoms | translate }}</label>
              <nb-radio-group id="inputCaseStatus" name="f1-2-rg-fourweeksymptom" class="row" formControlName="ifNot4WeeksEarlier">
                <nb-radio>{{ t.fab.chha | translate }}</nb-radio>
                <nb-radio>{{ t.fa.ifNot21 | translate }}</nb-radio>

              </nb-radio-group>
            </div>
        </div>
        </div>

      <div class="row">
        <div class="col-md-6 col-lg-6">
          <mat-form-field appearance="fill" class="form-a">
            <label class="title">{{ t.fa.symptomaticCaseInvestigation | translate }} </label>
            <input matInput autocomplete="off" formControlName="ifNotWhyTest">
          </mat-form-field>
        </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-lg-6">
      <mat-form-field appearance="fill" class="form-a">
        <label class="title">{{ t.fa.symptomsDate | translate }} </label>
        <input matInput autocomplete="off" formControlName="ifYesWhen">
      </mat-form-field>
    </div>
  </div>

          <div class="row">
            <div class="col-md-12 col-lg-12">
              <div class="form-group">
                <label class="title">{{ t.fa.symptomsKnown | translate }}</label>
                  <nb-card>
                <nb-card-body class="row">
                <div class="col-md-3 col-lg-3">
                <nb-checkbox matRipple formControlName="cboxHistoryOfFeverChills" status="basic"> History of fever / chills | ज्वरो </nb-checkbox>
                <nb-checkbox matRipple formControlName="cboxGeneralWeakness" status="basic"> General weakness | कमजोरी </nb-checkbox>
                <nb-checkbox matRipple formControlName="cboxCough" status="basic"> Cough | खोकी </nb-checkbox>
                <nb-checkbox matRipple formControlName="cboxSoreThroat" status="basic"> Sore Throat | घाँटी दुख्ने </nb-checkbox>
                <nb-checkbox matRipple formControlName="cboxRunnyNose" status="basic"> Runny nose | नाक बग्नु</nb-checkbox>
                <nb-checkbox matRipple formControlName="cboxShortnessOfBreath" status="basic"> Shortness of breath | सास फेर्न गाह्रो
                </nb-checkbox>
              </div>
                <div class="col-md-3 col-lg-3">
                <nb-checkbox matRipple formControlName="cboxDiarrhea" status="basic"> Diarrhea | पखाला</nb-checkbox>
                <nb-checkbox matRipple formControlName="cboxNauseaVomiting" status="basic"> Nausea/Vomiting | मतली / बान्ता</nb-checkbox>
                <nb-checkbox matRipple formControlName="cboxHeadache" status="basic"> Headache | टाउको दुखाइ</nb-checkbox>
                <nb-checkbox matRipple formControlName="cboxIrritabilityConfusion" status="basic"> Irritability/Confusion | चिडचिड / भ्रम
                </nb-checkbox>
                <nb-checkbox matRipple formControlName="cboxLossOfTaste" status="basic"> Loss of taste | स्वाद हराउनु </nb-checkbox>
                <nb-checkbox matRipple formControlName="cboxLossOfSmell" status="basic"> Loss of smell | गन्ध हराउनु</nb-checkbox>
              </div>
                <div class="col-md-3 col-lg-3">
                <label class="label">Pain(check all that apply) | लागू हुने सबैमा टिक गर्नुहोस्</label>
                <nb-checkbox matRipple formControlName="cboxPainMuscular" status="basic"> Muscular | मांसपेशी </nb-checkbox>
                <nb-checkbox matRipple formControlName="cboxPainChest" status="basic"> Chest | छाती </nb-checkbox>
                <nb-checkbox matRipple formControlName="cboxPainAbdominal" status="basic"> Abdominal | पेट </nb-checkbox>
                <nb-checkbox matRipple formControlName="cboxPainJoint" status="basic"> Joint | जोइन्ट </nb-checkbox>
                <nb-checkbox matRipple formControlName="cboxPainOther" status="basic"> Other, specify | अन्य, निर्दिष्ट गर्नुहोस्</nb-checkbox>
                <input matInput autocomplete="off" formControlName="cboxPainOtherSpecification">
                </div>
                </nb-card-body>
              </nb-card>
            </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 col-lg-3">
          <div class="form-group">
            <label class="title"> {{ t.fa.temp | translate }}</label>
            <input type="number" autocomplete="off" matInput formControlName="temp">
            <nb-checkbox matRipple formControlName="cboxDegreeC" status="basic">°C</nb-checkbox>
            <nb-checkbox matRipple formControlName="cboxDegreeF" status="basic">°F</nb-checkbox>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class="form-group">
            <label class="title">{{ t.fa.symptoms | translate }}</label>
              <nb-card>
            <nb-card-body class="row">
            <div class="col-md-2 col-lg-2">
              <nb-checkbox matRipple formControlName="cboxPharyngealExudate" status="basic"> Pharyngeal exudate</nb-checkbox>
              <nb-checkbox matRipple formControlName="cboxConjunctivalInjection" status="basic"> Conjunctival injection (red eye) </nb-checkbox>
              <nb-checkbox matRipple formControlName="cboxSeizure" status="basic"> Seizure </nb-checkbox>
              <nb-checkbox matRipple formControlName="cboxDyspneaTachypnea" status="basic"> Dyspnea / tachypnea (DB/Fast breathing)
              </nb-checkbox>

            </div>

            <div class="col-md-2 col-lg-2">

              <nb-checkbox matRipple formControlName="cboxAbnormalLongAuscultation" status="basic"> Abnormal lung auscultation</nb-checkbox>
              <nb-checkbox matRipple formControlName="cboxComa" status="basic"> Coma </nb-checkbox>
              <nb-checkbox matRipple formControlName="cboxAbnormalLungRadiography" status="basic"> Abnormal lung x-ray/CT scan findings
              </nb-checkbox>
              <nb-checkbox matRipple formControlName="cboxNone" status="basic"> None</nb-checkbox>
              <nb-checkbox matRipple formControlName="cboxOther" status="basic"> Other, specify | अन्य, निर्दिष्ट गर्नुहोस्
              </nb-checkbox>
              <input matInput autocomplete="off" formControlName="cboxOtherSpecification">
            </div>
            </nb-card-body>
          </nb-card>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="form-group">
        <label class="title">{{ t.fa.healthDifficulties | translate }}</label>
          <nb-card>
        <nb-card-body class="row">
        <div class="col-md-2 col-lg-2">
          <nb-checkbox matRipple formControlName="cboxPregnant" status="basic"> {{ t.fa.pregnancy | translate }} </nb-checkbox>
          <nb-checkbox matRipple formControlName="cboxRecentMother" status="basic"> {{ t.fa.postpartum | translate }} </nb-checkbox>
          <nb-checkbox matRipple formControlName="cboxHeartDisease" status="basic"> {{ t.fa.heartDisease | translate }} </nb-checkbox>
          <nb-checkbox matRipple formControlName="cboxDiabetes" status="basic"> {{ t.fa.diabetes | translate }} </nb-checkbox>

          <nb-checkbox matRipple formControlName="cboxLiverDisease" status="basic"> कलेजोको रोग</nb-checkbox>
        </div>
        <div class="col-md-2 col-lg-2">

          <nb-checkbox matRipple formControlName="cboxNerveDisease" status="basic"> नसा सम्बन्धी रोग</nb-checkbox>
          <nb-checkbox matRipple formControlName="cboxKidneyDisease" status="basic"> मृगौलाको रोगिरु </nb-checkbox>

          <nb-checkbox matRipple formControlName="cboxImmuneDisease" status="basic"> अिोइम्युन रोगिरु </nb-checkbox>
          <nb-checkbox matRipple formControlName="cboxHIV" status="basic"> इम्युनोडेभफभशयन्सी, एच.आईभी सभित</nb-checkbox>
          <nb-checkbox matRipple formControlName="cboxUnclear" status="basic"> ु पोर्ण</nb-checkbox>
        </div>
          <div class="col-md-2 col-lg-2">
          <nb-checkbox matRipple formControlName="cboxMalignancy" status="basic"> Malignancy म्याभलगनेन्शी
          </nb-checkbox>
          <nb-checkbox matRipple formControlName="cboxLungDisease" status="basic">फोक्सोको दीघष रोग/दम/धमनी</nb-checkbox>
          <nb-checkbox matRipple formControlName="cboxNoneDisease" status="basic"> कु नै पभन छैन </nb-checkbox>
          <nb-checkbox matRipple formControlName="cboxOtherDisease" status="basic"> Other, specify अन्य, निर्दिष्ट गर्नुहोस्
          </nb-checkbox>
          <input type="text" matInput autocomplete="off" formControlName="cboxOtherDiseaseSpecification">

        </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  </div>
